recordings/_background_noise_/*
recordings/bed/*
recordings/bird/*
recordings/cat/*
recordings/dog/*
recordings/down/*
recordings/nine/*
recordings/eight/*
recordings/seven/*
recordings/six/*
recordings/five/*
recordings/four/*
recordings/three/*
recordings/two/*
recordings/one/*
recordings/zero/*
recordings/go/*
recordings/happy/*
recordings/house/*
recordings/marvin/*
recordings/no/*
recordings/off/*
recordings/on/*
recordings/sheila/*
recordings/stop/*
recordings/wow/*
recordings/yes/*
recordings/tree/*


recordings/down/*
recordings/left/*
recordings/right/*